<!-- ===========================================
     Footer Partial
     ===========================================
     This file contains the footer for the web dashboard.
     Key actions:
     1. Include relevant footer content such as links and copyright information.
     2. Ensure the footer is styled consistently with the overall design.
     3. Make sure the footer remains at the bottom of the page.
     ===========================================
-->

<div class="footer-background p-5">
    <div class="container">
        <footer class="py-3 my-4 border-bottom"> 
            <div class="row align-items-center">
                <!-- Logo on the Left -->
                <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                    <a href="/">
                        <img src="assets/logo/logo trasperant without text.png" alt="Company Logo" class="footer-logo">
                    </a>
                </div>

                <!-- Navigation Links in the Center -->
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <ul class="nav justify-content-center flex-column flex-md-row mb-0">
                        <li class="nav-item"><a href="/" class="nav-link text-center px-2 text-muted">Home</a></li>
                        <li class="nav-item"><a href="/product" class="nav-link text-center px-2 text-muted">Product</a></li>
                        <li class="nav-item"><a href="/about" class="nav-link text-center px-2 text-muted">About Us</a></li>
                        <li class="nav-item"><a href="/faq" class="nav-link text-center px-2 text-muted">FAQ</a></li>
                        <li class="nav-item"><a href="/contact" class="nav-link text-center px-2 text-muted">Contact</a></li>
                    </ul>
                </div>

                <!-- Social Media Icons on the Right -->
                <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                    <div class="social-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-x-twitter"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-youtube"></i>
                      </div>
                </div>
            </div>

            
        </footer>
    </div>

    <!-- End Footer -->
    <div class="container text-center">
        <span id="dateDisplay"></span>
        <p class="small text-muted mt-2">This is a university project. All data displayed is for educational purposes only.</p>
    </div>
</div>


<script>
    (function () {
        const today = new Date();
        const year = today.getFullYear(); // Get the full year
        const yearStr = year.toString();

        // Construct the text with the dynamic year
        const copyrightText = `© Copyright ${yearStr} HomeAlert, All Rights Reserved.`;

        // Update the textContent of the element with id 'dateDisplay'
        document.getElementById('dateDisplay').textContent = copyrightText;
    })();
</script>
