<!-- ===========================================
     Footer Partial
     ===========================================
     This file contains the footer for the web dashboard.
     Key actions:
     1. Include relevant footer content such as links and copyright information.
     2. Ensure the footer is styled consistently with the overall design.
     3. Make sure the footer remains at the bottom of the page.
     ===========================================
-->

<div class="footer-background p-5">
    <div class="container">
        <footer class="py-3 my-4 border-bottom text-center">
            <!-- Λογότυπο -->
            <div class="mb-4">
                <a href="/">
                    <img src="assets/logo/logo trasperant without text.png" alt="Company Logo" class="footer-logo">
                </a>
            </div>

            <!-- Navigation Links -->
            <div class="mb-4">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/product" class="nav-link">Product</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="/faq" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
            </div>

            <!-- Social Media Icons -->
            <div class="social-icons d-flex flex-column align-items-center">
                <i class="fab fa-facebook mb-2"></i>
                <i class="fab fa-instagram mb-2"></i>
                <i class="fab fa-x-twitter mb-2"></i>
                <i class="fab fa-linkedin mb-2"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </footer>
    </div>

    <!-- End Footer -->
    <div class="container text-center">
        <span id="dateDisplay"></span>
    </div>
</div>

<style>
    .footer-logo {
        width: 100px; /* Προσαρμόστε το μέγεθος του λογότυπου */
    }
    
    .nav-link {
        color: #000;
        text-decoration: none;
        margin-bottom: 0.5rem;
    }
    
    .nav-link:hover {
        text-decoration: underline;
        color: #007bff;
    }
    
    .social-icons {
        font-size: 24px; /* Ρύθμιση μεγέθους εικονιδίων */
    }
    
    .social-icons i {
        cursor: pointer;
        transition: color 0.3s;
    }
    
    .social-icons i:hover {
        color: #007bff; /* Εφέ hover */
    }
    
    .mb-2 {
        margin-bottom: 0.5rem;
    }
    </style>


<script>
    (function () {
        const today = new Date();
        const year = today.getFullYear(); // Get the full year
        const yearStr = year.toString();

        // Construct the text with the dynamic year
        const copyrightText = `© Copyright ${yearStr} HomeAlert, All Rights Reserved.`;

        // Update the textContent of the element with id 'dateDisplay'
        document.getElementById('dateDisplay').textContent = copyrightText;
    })();
</script>

