<!--join our mission-->
<section class="d-flex align-items-center">
    <div class="container text-center">
         <h2>Join our mission for safety</h2>
         <p class="py-2">Become a customer, partner, or follow our journey on social media</p>
         <div class="col">
              <a href="/" class="btn btn-primary btn-lg rounded-pill" aria-label="Sign up for our services">Sing Up</a>
              <a href="/" class="btn btn-accent btn-lg rounded-pill" aria-label="Lenn more about our services">Learn More</a>
         </div>
         
    </div>
</section>


