<div class="diagram">
  <a href="#seismograph-description" class="icon" id="seismograph">
    <img src="/assets/icons/product/seismograph.png" alt="Seismograph" />
  </a>

  <a href="#humidity-description" class="icon" id="humidity-sensor">
    <img src="/assets/icons/product/humidity.png" alt="Humidity Sensor" />
  </a>

  <a href="#fire-description" class="icon" id="fire-sensor">
    <img src="/assets/icons/product/fire.png" alt="Fire Sensor" />
  </a>

  <a href="#gas-description" class="icon" id="gas-sensor">
    <img src="/assets/icons/product/gas.png" alt="Gas Sensor" />
  </a>

  <a href="#motion-description" class="icon" id="motion-sensor">
    <img src="/assets/icons/product/motion.png" alt="Motion Sensor" />
  </a>

  <a href="#centerhub-description" class="icon" id="centerhub">
    <img src="/assets/icons/product/centerhub.png" alt="Center Hub" />
  </a>

  <a href="#database-description" class="icon" id="database">
    <img src="/assets/icons/product/database.png" alt="Database" />
  </a>

  <a href="#database1-description" class="icon" id="database1">
    <img src="/assets/icons/product/database1.png" alt="Database 1" />
  </a>

  <a href="#data-report-description" class="icon" id="data-report">
    <img src="/assets/icons/product/datareport.png" alt="Data Report" />
  </a>

  <!-- Connection Lines -->
  <div class="line line-fire"></div>

  <div class="line line-humidity"></div>

  <div class="line line-gas"></div>

  <div class="line line-motion"></div>

  <div class="line line-seismograph"></div>

  <div class="line line-database"></div>

  <div class="line line-database1"></div>

  <div class="line line-data-report"></div>
</div>
