<!-- ===========================================
     About Us View
     ===========================================
     This file serves as the home page of the web dashboard.
     Key actions:
     1. Include the necessary layout and partials.
     2. Display real-time data and user interactions.
     3. Ensure the page is styled consistently with the overall design.
     ===========================================
-->
<!-- Use the boilerplate layout for consistent structure it will retrieve the layout of the boilerplate file -->
<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/about-us.css">

    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Advancing Technology: Our Milestones</h2>
                <button class="btn btn-primary learn-more-btn">Learn More</button>
                <button class="sign-up-btn">
                    Sign Up <i class="fa fa-greater-than"></i>
                </button>
            </div>
            <div class="col-12 col-md-6">
                <ul class="milestones">
                    <li>
                        <h3>Introduction</h3>
                        <p>Established in 2024, HomAlert is at the forefront of smart home emergency alert systems.
                        </p>
                    </li>
                    <li>
                        <h3>Development</h3>
                        <p>Built the foundation of HomAlert, integrating user authentication and basic sensor
                            simulations.</p>
                    </li>
                    <li>
                        <h3>Innovation</h3>
                        <p>Introduced the industry's first integrated emergency notification system for smart homes.
                        </p>
                    </li>
                    <li>
                        <h3>Optimization</h3>
                        <p>Strengthened security measures, optimized performance, improved the web user interfaces,
                            and expanded to 3rd-party integrations.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>