<!-- ===========================================
     FAQ View
     ===========================================
     This file serves as the home page of the web dashboard.
     Key actions:
     1. Include the necessary layout and partials.
     2. Display real-time data and user interactions.
     3. Ensure the page is styled consistently with the overall design.
     ===========================================
-->
<!-- Use the boilerplate layout for consistent structure it will retrieve the layout of the boilerplate file -->
<% layout('layouts/boilerplate') %>


<!--Questions -->
<section class="vh-section d-flex align-items-center">
     <div class="container text-left">
          <div class="row">
               <div class="col">
                    <h1 class="display-4 questions-title">Questions</h1>
                    <p class="lead"></p>
                    <p class="lead">Find answers to common questions about our products, including installation, compatibility, and usage. </p>
                    <p class="lead"></p>
                    <p class="lead">Didn’t find what you are looking for? </p>
                    <a href="#" class="btn btn-primary btn-lg rounded-pill">Contact Us</a>
               </div>
 
               <div class="col">
                    <%- include('partials/faq-drop-down') %>
               </div>
     
          </div>
     
</section>

<!--Customer testimoials-->
<section class="vh-section d-flex align-items-center">
     <div class="container text-center">
          <%- include('partials/testimonials') %>
     </div>
</section>

<!--join our mission-->
<section class="vh-section d-flex align-items-center">
     <div class="container text-center">
          <h1 class="display-4">Join our mission for safety</h1>
          <p class="lead">Become a customer, partner, or follow our journey on social media</p>
          <div class="col">
               <a href="/" class="btn btn-primary btn-lg rounded-pill" aria-label="Sign up for our services">Sing Up</a>
               <a href="/" class="btn btn-accent btn-lg rounded-pill" aria-label="Lenn more about our services">Learn More</a>
          </div>
          
     </div>
</section>

