<!-- ===========================================
     FAQ View
     ===========================================
     This file serves as the home page of the web dashboard.
     Key actions:
     1. Include the necessary layout and partials.
     2. Display real-time data and user interactions.
     3. Ensure the page is styled consistently with the overall design.
     ===========================================
-->
<!-- Use the boilerplate layout for consistent structure it will retrieve the layout of the boilerplate file -->
<% layout('layouts/boilerplate') %>


     <!--Questions -->
     <section class="d-flex align-items-center">
          <div class="container text-left">
               <div class="row">
                    <div class="col">
                         <h1>Questions</h1>
                         <p class="py-3">Find answers to common questions about our products, including installation,
                              compatibility, and usage. </p>
                         <p p class="pb-1">Didn’t find what you are looking for? </p>
                         <button class="btn btn-primary btn-lg rounded-pill">Contact Us</button>
                    </div>

                    <div class="col">
                         <%- include('partials/faq-drop-down') %>
                    </div>

               </div>

     </section>

     <!--Customer testimoials-->
     <section class="d-flex align-items-center">
          <div class="container text-center">
               <%- include('partials/testimonials') %>
          </div>
     </section>

<%- include('partials/join-us') %>

