<!-- ===========================================
     FAQ View
     ===========================================
     This file serves as the home page of the web dashboard.
     Key actions:
     1. Include the necessary layout and partials.
     2. Display real-time data and user interactions.
     3. Ensure the page is styled consistently with the overall design.
     ===========================================
-->
<!-- Use the boilerplate layout for consistent structure it will retrieve the layout of the boilerplate file -->
<% layout('layouts/boilerplate') %>


<!--Questions -->
<section class="vh-100 d-flex align-items-center">
     <div class="container text-center">
          <div class="row">
               <div class="col">
                    <h2 class="display-4">Questions</h2>
                    <p class="lead">Find answers to common questions about our products, including installation, compatibility, and usage. </p>
                    <p class="lead">Didn’t find what you are looking for? </p>
                    <a href="#" class="btn btn-primary btn-lg">contact us</a>
               </div>
 
               <div class="col">hey

               </div>
          </div>
               
     </div>
</section>
<!--Customer testimoials-->
<section class="vh-100 d-flex align-items-center">
     <div class="container text-center">
          <h1 class="display-4">Stay Safe, Stay Alert</h1>
          <p class="lead">Protecting What Matters Most</p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
     </div>
</section>

