.learn-more-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.sign-up-btn {
    background-color: white;        
    color: #333;                    
    border: none;                   
    padding: 10px 20px;             
    font-size: 16px;               
    cursor: pointer;                
    display: inline-flex;       
    align-items: center;   
}

.sign-up-btn:hover {
    color:#3170FD;
    border-radius: 30px;
}

.learn-more-btn:hover {
    border: 2px solid #3170FD;
    background-color: #3170FD;
}

.sign-up-btn .fa-greater-than {
    display: inline-block;
    transition: transform 0.3s ease; 
    margin-left: 5px; 
}
  
.sign-up-btn:hover .fa-greater-than {
    transform: translateX(5px); 
}

/* Milestones list styling */
.milestones {
    position: relative;
    padding-left: 40px;
    list-style-type: none;
}

/* Individual milestone item */
.milestones li {
    position: relative;
    padding: 20px 0 20px 40px;
}

/* Bullet points styling with increased size */
.milestones li::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 15px;               /* positioning */
    width: 43px;             /* bigger bullet */
    height: 33px;            /* height - bigger bullet */
    background-image: url('../assets/images/bulletpoint.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Vertical line between bullet points */
.milestones li::after {
    content: '';
    position: absolute;
    left: 20px;              /* Adjust based on the bullet size */
    top: 55px;
    bottom: -30px;
    width: 2px;
    background-color: #333;
    z-index: 0;
}
