.navbar-nav .btn {
    transition: all 0.3s ease;
}

/* Default styles */
.navbar-nav .btn-outline-primary {
    border: 1px solid #2A70FF;
    border-radius: 20px 0 0 20px;
    color: black;
    background-color: white;
    padding: 8px 30px;
    margin-right: 0;
}

.navbar-nav .btn-outline-primary:hover {
    background-color: #2154CC;
    color: white;
}

.navbar-nav .btn-primary {
    background-color: blue;
    color: #fff;
    border: 1px solid blue;
    border-radius: 0 20px 20px 0;
    padding: 8px 20px;
    margin-left: 0;
}

.navbar-nav .btn-primary:hover {
    background-color: white;
    color:#2154CC;
}
